STRIPE_SECRET_KEY=sk_live_or_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
STRIPE_PREMIUM_UNIT_AMOUNT=149900
STRIPE_PREMIUM_CURRENCY=php
BILLING_FRONTEND_URL=https://plumberpass.futoltech.com
